.DireitaIndex{
	background-color: #0000FF;
	height: 100%;
}

.EsquerdaIndex{
	height: 100%;
}

@media screen and (max-width: 768px){ 
	.EsquerdaIndex{
		height: 35%;
	}
	.DireitaIndex{
		height: 35%;
	}
}

.DireitaIndex label{
	color: black;
}

.FundoMenu{
	position: absolute;
	top: 40%;
	left: 20%;
}

.botaoGeral{
	padding-top: 5%; 
}

.panel-default div .headingEmpProcesso{
	background-color: orange;
}
/*.panel-heading td .botaoAndamentoObra{*/
	/*display: none;*/
/*}*/

.tipoModal:before{
	background: #000;
}

.tipoModal, .adicionaMaterial{
	display: none;
	z-index: 9999;
}

/*TABELAS*/
.painelMateriais{
	margin-top: 1%;
}
