.text-center{
    text-align: center;
}
elemento-left{
    float: left;
}

.componente_linha_1{
    width: 100%;
}

.componente_linha_3{
    width: 100%;
}

.componente_linha_metade{
    width: 50%;
}
.rowEspacamento{
    padding: 2% 2% 2% 2%;
}

.bordaPadrao{
    border-radius: 3px;
}

.fontePadrao{
    font-family: Calibri;
}

.posicionamentoDireita{
    display: flow;
    float: right;
}

.larguraTable{
    width: 100%;
}

.botaoConsultaObra{
    background-color: green;
}