.esquerda-index img{
	padding: 15%;
}
.direita-index{
	background-color: #c0c0c0;
	padding: 5%;
}

.direita-index label, .espacamento{
	padding-top: 2%;
}
@media screen and (min-width: 980px){

	.direita-index{
		padding: 1%;
		padding-top: 18%;
	}
	.esquerda-index, .direita-index{
		height: 100%;
	}
	.esquerda-index img{
		padding: 20%;
	}
}
.tipoModal:before{
	background: #000;
}

.tipoModal, .adicionaMaterial{
	display: none;
	z-index: 9999;
}

/*TABELAS*/
.painelMateriais{
	margin-top: 1%;
}

.adicionaMaterialnovo{
	z-index: 1042 !important;
}

.adicionaMaterial{
	z-index: 1041 !important;
}


/*NOVA REFORMULAÇÃO*/

.quadro-principal{
	margin: 2%;
}

.search input:focus{
	border-bottom: 1px solid #BDC4D4;
	line-height:22px;
	transition: 0.1s all;
}